USE [master]
GO

IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'SWP391_SE1630_N3')
BEGIN
	ALTER DATABASE [SWP391_SE1630_N3] SET OFFLINE WITH ROLLBACK IMMEDIATE;
	ALTER DATABASE [SWP391_SE1630_N3] SET ONLINE;
	DROP DATABASE [SWP391_SE1630_N3];
END
GO
CREATE DATABASE [SWP391_SE1630_N3]
GO
USE [SWP391_SE1630_N3]
GO
DECLARE @sql nvarchar(MAX) 
SET @sql = N'' 

SELECT @sql = @sql + N'ALTER TABLE ' + QUOTENAME(KCU1.TABLE_SCHEMA) 
    + N'.' + QUOTENAME(KCU1.TABLE_NAME) 
    + N' DROP CONSTRAINT ' -- + QUOTENAME(rc.CONSTRAINT_SCHEMA)  + N'.'  -- not in MS-SQL
    + QUOTENAME(rc.CONSTRAINT_NAME) + N'; ' + CHAR(13) + CHAR(15) 
FROM INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS AS RC 

INNER JOIN INFORMATION_SCHEMA.KEY_COLUMN_USAGE AS KCU1 
    ON KCU1.CONSTRAINT_CATALOG = RC.CONSTRAINT_CATALOG  
    AND KCU1.CONSTRAINT_SCHEMA = RC.CONSTRAINT_SCHEMA 
    AND KCU1.CONSTRAINT_NAME = RC.CONSTRAINT_NAME 

EXECUTE(@sql) 

GO
DECLARE @sql2 NVARCHAR(max)=''

SELECT @sql2 += ' Drop table ' + QUOTENAME(TABLE_SCHEMA) + '.'+ QUOTENAME(TABLE_NAME) + '; '
FROM   INFORMATION_SCHEMA.TABLES
WHERE  TABLE_TYPE = 'BASE TABLE'

Exec Sp_executesql @sql2 

/****** Object:  Table [dbo].[account]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](50) NULL,
	[gender] [int] NULL,
	[password] [varchar](50) NULL,
	[user] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[image_id] [int] NULL,
	[address] [nvarchar](100) NULL,
	[role] [int] NULL,
	[create_at] [date] NULL,
	[updated_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[author_id] [int] NULL,
	[title] [varchar](100) NULL,
	[content] [nvarchar](300) NULL,
	[count_view] [int] NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[brandID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[detail] [varchar](100) NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[brandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](100) NULL,
	[detail] [nvarchar](100) NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[rate_star] [int] NULL,
	[detail] [varchar](100) NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[imageSource] [varchar](150) NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_blog]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_blog](
	[blog_id] [int] NOT NULL,
	[image_id] [int] NOT NULL,
 CONSTRAINT [ib_id] PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC,
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_feedback]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_feedback](
	[feedback_id] [int] NOT NULL,
	[image_id] [int] NOT NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
 CONSTRAINT [if_id] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC,
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[image_product]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[image_product](
	[product_id] [int] NOT NULL,
	[image_id] [int] NOT NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL,
 CONSTRAINT [ip_id] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[full_name] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](50) NULL,
	[note] [varchar](100) NULL,
	[status] [varchar](50) NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_detail](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[feedback_id] [int] NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL,
 CONSTRAINT [od_id] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[description] [nvarchar](150) NULL,
	[size] [nvarchar](10) NULL,
	[categoryID] [int] NULL,
	[brandID] [int] NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[sale] [int] NULL,
	[created_at] [date] NULL,
	[update_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_url]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_url](
	[id_role] [int] NOT NULL,
	[id_url] [int] NOT NULL,
 CONSTRAINT [ru_id] PRIMARY KEY CLUSTERED 
(
	[id_role] ASC,
	[id_url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[url]    Script Date: 9/20/2022 10:23:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[url](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[url] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[account] ON 

INSERT [dbo].[account] ([id], [full_name], [gender], [password], [user], [email], [phone], [image_id], [address], [role], [create_at], [updated_at]) VALUES (1, N'Pham Quoc Hung', 1, N'hung12', N'phamquochung', N'quochung123@gmail.com', N'0387678969', 1, N'Doan Hung', 1, (N'2001-08-12'), (N'2022-08-12'))
INSERT [dbo].[account] ([id], [full_name], [gender], [password], [user], [email], [phone], [image_id], [address], [role], [create_at], [updated_at]) VALUES (2, N'Vu Hoai Nam', 1, N'nam123', N'hoainam', N'hoainam2001@gmail.com', N'0123896456', 1, N'Cam Pha', 1, (N'1999-05-04'), (N'2022-05-04'))
INSERT [dbo].[account] ([id], [full_name], [gender], [password], [user], [email], [phone], [image_id], [address], [role], [create_at], [updated_at]) VALUES (3, N'Nguyen Van Phuc', 1, N'phuc08', N'vanphuc', N'phuctolai@gmail.com', N'0124558894', 1, N'Trung Quoc', 2, (N'1999-12-25'), (N'2022-12-25'))
SET IDENTITY_INSERT [dbo].[account] OFF
GO


INSERT [dbo].[image_product] ([product_id], [image_id] ,[created_at], [updated_at]) VALUES (1, 1, (N'2022-08-12'), (N'2022-08-12'))
INSERT [dbo].[image_product] ([product_id], [image_id] ,[created_at], [updated_at]) VALUES (2, 2, (N'2022-08-12'), (N'2022-08-12'))
INSERT [dbo].[image_product] ([product_id], [image_id] ,[created_at], [updated_at]) VALUES (3, 3, (N'2022-08-12'), (N'2022-08-12'))

GO

SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([brandID], [title], [detail], [created_at], [update_at]) VALUES (1, N'fury', N'Favorite', (N'2020-07-12'), (N'2022-06-13'))
INSERT [dbo].[brand] ([brandID], [title], [detail], [created_at], [update_at]) VALUES (2, N'mit', N'Famous', (N'2020-09-24'), (N'2022-09-24'))
INSERT [dbo].[brand] ([brandID], [title], [detail], [created_at], [update_at]) VALUES (3, N'predator', N'Favoratie', (N'2020-11-12'), (N'2022-09-27'))
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([categoryID], [title], [detail], [created_at], [update_at]) VALUES (1, N'Cues', N'Gậy để bắn', (N'2020-08-15'), (N'2022-12-08'))
INSERT [dbo].[category] ([categoryID], [title], [detail], [created_at], [update_at]) VALUES (2, N'Ball Sets', N'Bóng để bàn', (N'2020-07-14'), (N'2020-06-14'))
INSERT [dbo].[category] ([categoryID], [title], [detail], [created_at], [update_at]) VALUES (3, N'Tables', N'Bàn bi a', (N'2020-10-12'), (N'2020-09-03'))
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[image] ON 

INSERT [dbo].[image] ([id], [name], [imageSource], [created_at], [update_at]) VALUES (1, N'Fury AG-201', N'AG-201.jpg', (N'2022-01-01'), (N'2020-01-01'))
INSERT [dbo].[image] ([id], [name], [imageSource], [created_at], [update_at]) VALUES (2, N'Fury CL-5', N'CL-5.jpg', (N'2022-01-01'), (N'2020-01-01'))
INSERT [dbo].[image] ([id], [name], [imageSource], [created_at], [update_at]) VALUES (3, N'Fury CW-1', N'CW-1.jpg', (N'2022-01-01'), (N'2020-01-01'))

SET IDENTITY_INSERT [dbo].[image] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([productID], [name], [description], [size], [categoryID], [brandID], [quantity], [price], [sale], [created_at], [update_at]) VALUES (1, N'Fury AG-201', N'New', N'19', 1, 1, 10, 3000, 20, (N'2022-09-15'), (N'2022-09-15'))
INSERT [dbo].[product] ([productID], [name], [description], [size], [categoryID], [brandID], [quantity], [price], [sale], [created_at], [update_at]) VALUES (2, N'Fury CL-5', N'New', N'19.5', 1, 1, 10, 5500, 0, (N'2022-09-15'), (N'2022-09-15'))
INSERT [dbo].[product] ([productID], [name], [description], [size], [categoryID], [brandID], [quantity], [price], [sale], [created_at], [update_at]) VALUES (3, N'Fury CW-1', N'New', N'19', 1, 1, 10, 3500, 0, (N'2022-09-15'), (N'2022-09-15'))
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[role] ([id], [role_name]) VALUES (2, N'employee')
INSERT [dbo].[role] ([id], [role_name]) VALUES (3, N'customer')
SET IDENTITY_INSERT [dbo].[role] OFF
GO
INSERT [dbo].[role_url] ([id_role], [id_url]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[url] ON 

INSERT [dbo].[url] ([id], [url]) VALUES (1, N'')
INSERT [dbo].[url] ([id], [url]) VALUES (2, N'')
INSERT [dbo].[url] ([id], [url]) VALUES (3, N'')
SET IDENTITY_INSERT [dbo].[url] OFF
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[image_blog]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([id])
GO
ALTER TABLE [dbo].[image_blog]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[image_feedback]  WITH CHECK ADD FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedback] ([id])
GO
ALTER TABLE [dbo].[image_feedback]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[image_product]  WITH CHECK ADD FOREIGN KEY([image_id])
REFERENCES [dbo].[image] ([id])
GO
ALTER TABLE [dbo].[image_product]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([productID])
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedback] ([id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[order] ([id])
GO
ALTER TABLE [dbo].[order_detail]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([productID])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([brandID])
REFERENCES [dbo].[brand] ([brandID])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[category] ([categoryID])
GO
ALTER TABLE [dbo].[role_url]  WITH CHECK ADD FOREIGN KEY([id_role])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[role_url]  WITH CHECK ADD FOREIGN KEY([id_url])
REFERENCES [dbo].[url] ([id])
GO
SET IDENTITY_INSERT [dbo].[blog] ON 
INSERT INTO blog([id],[author_id],[title],[content],[count_view],[created_at],[update_at]) 
VALUES(1,4,N'The verry first title of the blog'
,'The first blog ever write on this page in order to test the out put and how it gonna display. so this sentence not need to be that long just need to be long enoft to test and some how make this look like a paragrap'
,0,GETDATE(),GETDATE()
)
INSERT INTO blog([id],[author_id],[title],[content],[count_view],[created_at],[update_at]) 
VALUES(2,4,N'The title of the blog 2'
,'The blog has been create on this page in order to test the out put and how it gonna display. so this sentence not need to be that long just need to be long enoft to test and some how make this look like a paragrap'
,0,GETDATE(),GETDATE()
)
INSERT INTO blog([id],[author_id],[title],[content],[count_view],[created_at],[update_at]) 
VALUES(3,4,N'8 Inspiring Ways to Hit Ball in the Winter'
,'The blog has been create on this page in order to test the out put and how it gonna display. so this sentence not need to be that long just need to be long enoft to test and some how make this look like a paragrap'
,0,GETDATE(),GETDATE()
)
SET IDENTITY_INSERT [dbo].[blog] OFF 
SELECT * FROM blog

SELECT * FROM image_blog
